# MacOS
.DS_Store

# Python
.venv

# Terraform

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
.env
*.pem

# Just in case...
.aws/**

# Snapchat Lens Studio
spectacles-lens/Cache
spectacles-lens/Support
spectacles-lens/**/Examples